html, body, #main, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 275px;
    background: transparent;
}

.info .panel-body {
    background: transparent;
}

#request {
    position: relative;
    background: #fcc1d4 none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 135px;
}

#request:disabled {
    color: #999;
    border-color: #999;
}

#accountLink {
    background: inherit;
}

#updates {
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

#updates li {
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 5px;
}

.authToken {
    word-wrap: break-word;
    width: 100%;
}

.weather-panel {
    background-color: hsl(200, 100%, 85%);
    position: absolute;
    /* left: 0;
    bottom: 0;
    height: 100%;
    width: 100%; */
}

/* .header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-right: 2px solid hsl(200, 100%, 10%);
  } */

  .weather-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .weather-icon.large {
    width: 80px;
    height: 80px;
  }
  
  .header-current-temp {
    font-size: 50px;
    margin-left: 1rem;
  }

  .header-right {
    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 0.5rem;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(1, auto);
  }

  .info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: hsl(200, 100%, 20%);
  }
  
  .value-sub-info {
    font-weight: lighter;
    font-size: 0.75rem;
  }